#tab-bar {
    list-style-type: none;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.tab-bar-entry {
    display: inline;
    margin-right: 40px;
    font-size: 36px;
}

.tab-bar-entry:hover {
    cursor: pointer;
}

.tab-bar-entry-focused {
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .tab-bar-entry {
        font-size: 32px;
    }
    #tab-bar {
        padding-top: 15px;
        padding-bottom: 20px;
    }
}