.tab-header {
    padding: 9px 24px 9px 24px;
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: white;
}

.tab-header h2 {
    margin: 0;
    font-size: 18px;
    text-align: left;
    float: left;
    font-weight: 600;
}

.tab-header * {
    vertical-align: middle;
    margin: 0;
}

.tab-header p {
    line-height: 1.7;
}